::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  width: 30px;
  height: 30px;
}

.row {
  margin: 20px;
}

mat-form-field {
  width: 500px;
}

//mat-icon {
//  color: purple;
//  margin: 15px;
//  font-size: 50px;
//}
