<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <label for="oldPassword">Old Password</label>
    <input type="password" class="form-control mb-3" id="oldPassword" placeholder="Old Password"
           [formControlName]="'oldPassword'">
    <div class="alert alert-danger" *ngIf="oldPassword.invalid && oldPassword.touched">
      <p class="mb-0" *ngIf="oldPassword.errors?.required">Old password is required</p>
      <p class="mb-0" *ngIf="oldPassword.errors?.minlength">Old password is to short it needs to be at least </p>
      <p class="mb-0" *ngIf="oldPassword.errors?.incorrectPassword">Old password is incorrect</p>
    </div>
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control mb-3" id="newPassword" placeholder="New Password"
           [formControlName]="'newPassword'">
    <div class="alert alert-danger" *ngIf="newPassword.invalid && newPassword.touched">
      <p class="mb-0" *ngIf="newPassword.errors?.required">New password is required</p>
      <p class="mb-0" *ngIf="newPassword.errors?.minlength">New password is to short it needs to be at least </p>
    </div>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control mb-3" id="confirmPassword" placeholder="Confirm Password"
           [formControlName]="'confirmPassword'">
    <div class="alert alert-danger"
         *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors?.required">
      <p class="mb-0">Confirm password is required</p>
    </div>
  </div>
  <div class="alert alert-danger"
       *ngIf="newPasswordForm.invalid && newPasswordForm.errors?.notConfirmPassword && confirmPassword.touched && newPassword.touched">
    <p class="mb-0">Confirm password needs to match with new password</p>
  </div>
  <button class="btn btn-success" [disabled]="!newPasswordForm.valid">submit</button>
</form>
