<div class="container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" class="form-control" required type="text" name="firstName" ngModel #firstName="ngModel">
      <p *ngIf="firstName.invalid && firstName.touched">aaaa</p>
    </div>
    <div class="form-group">
      <label for="comment">First Name</label>
      <textarea id="comment" class="form-control" rows="10" columns="30" name="comment" ngModel
                #comment="ngModel"></textarea>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ngModel name="newsletter"> submit for newsletter
      </label>
    </div>
    <div class="select">
      <label for="contactMethod">
        <select name="contactMethod" id="contactMethod" ngModel>
          <option *ngFor="let method of contactMethod" [ngValue]="method">{{method.contact}}</option>
        </select>
      </label>
    </div>
    <div class="radio" *ngFor="let method of contactMethod" ngModelGroup="radios" #radios="ngModelGroup">
      <label for="contactMethod">
        <input type="radio" [value]="method.id" ngModel name="radiosVaues"> {{method.contact}}
      </label>
    </div>
    {{form.value | json}}
    <div>
      <button class="btn btn-success" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
